/*****************/
/*GENERAL STYLING*/
/*****************/
body {
	margin: 0;
	padding: 0;
	background: url(/images/purple-knit-shirt-texture.jpg);
}

a, p, h1, h2, h3, h4, h5 {
	text-decoration: none;
	font-family: 'Sacramento', cursive;
}

li{
	margin: 0 auto;
	list-style: none;
	display: inline;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
}

#header{

}

#content {
	padding-bottom: 100px;
}



/****************/
/*HEADER STYLING*/
/****************/
#topBanner, #galleryBanner {
	font-size: 5em;
	margin: 10px;
	text-align: center;
	color: #FFE1F0;
	font-family: 'Sacramento', cursive;

}

#galleryBanner {
	font-size: 4em;
}

#head {
	margin: 20px 0px;
}

#changer{
	padding: 5px;
	background-color: #FFE1F0;
	border-radius: 10px;
}


.colorChange {
	opacity: 0.4;

}

.colorChange img {
	border-radius: 50%;
}
.showMe {
	opacity: 1;
}

#banner {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 10px solid #826AA3;
	object-fit: cover;
}

em{
	font-size: 0.5em;
	margin-left: 5px;
}

/*****************/
/*CONTENT STYLING*/
/*****************/

a[href$='.php'] {
	color: orange;
	font-size: 2em;
	float: right;
	text-decoration: none;
}

body > a:visited, body > a:hover, body > a:active {
	color: orange;
	font-size: 2em;
	float: right;
	text-decoration: none;
 }

#gallery {
	background-color: #FFE1F0;
	border-radius: 10px;
	padding: 20px;
}
#gallery img{
	border-radius: 5px;
	margin: 5px;
}

#gallery a:link {
	margin: 2px;
}
#gallery a:hover > img {
	opacity:0.4;
	
}

/****************/
/*FOOTER STYLING*/
/****************/

#footer{
	bottom: 0;
	height: 100px;
	left: 0;
	text-align: center;
	width: 100%;
}


/******************/
/*Contact.php form*/
/******************/
.contact {
	font-family: Helvetica, Arial, sans-serif;
	margin: 50px;
}
.contact #content {
 width: 800px;
 margin: 0 auto;
 min-height: 100%;
 position: relative;
}

.contact #content> a {
	float: left;
}

.contact #header > p {
	font-size: 1.5em;
	color: #FFE1F0;
	text-align: center;
}

form {
	background-color: #FFE1F0;
	border-radius: 10px;
	padding: 10px;
	margin: 0 auto;
}

